<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:axon="http://www.axonframework.org/schema/core"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.axonframework.org/schema/core http://www.axonframework.org/schema/axon-core-2.0.xsd
                           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">

    <context:annotation-config />

    <axon:command-bus id="commandBus"/>
    <axon:event-bus id="eventBus"/>

    <axon:event-sourcing-repository id="toDoRepository"
                                    aggregate-type="todo.todoitem.ToDoItemAggregate"/>

    <axon:aggregate-command-handler id="toDoItemHandler"
                                    aggregate-type="todo.todoitem.ToDoItemAggregate"
                                    repository="toDoRepository"
                                    command-bus="commandBus"/>

    <axon:filesystem-event-store id="eventStore" base-dir="events"/>

    <axon:annotation-config />

    <bean class="org.axonframework.commandhandling.gateway.CommandGatewayFactoryBean">
        <property name="commandBus" ref="commandBus"/>
    </bean>

    <bean class="todo.TodoEventHandler" />
</beans>